@namespace FBC.FormControls

@inherits FormControlBase<DateTime>

<FormControlPanel ExtraClass="@base.FormPanelExtraClass">
    <Content>
        <input type="datetime-local" @bind="Data"  @oninput="OnInputChange" id="@base.Id" placeholder="@base.Title" class="form-control" />
        <label for="@base.Id">@base.Title</label>
    </Content>
</FormControlPanel>

@code {

}
 <!--

 Can I Use: https://caniuse.com/?search=datetime-local

 Belki bir gün
 1: https://stackoverflow.com/questions/65923626/create-blazor-custom-date-picker-component-with-nullable-and-non-nullable-date-v
 2: https://github.com/dotnet/aspnetcore/blob/main/src/Components/Web/src/Forms/InputDate.cs
 3: https://stackoverflow.com/questions/58023438/cant-set-seconds-value-of-input-type-datetime-local-to-be-0
 <input type="datetime-local"  
       @bind="@closedPlatform.Start" 
       @bind:format="yyyy-MM-ddTHH:mm" step="1"/>


 -->