@page "/cari/goster/{Id:int}"
@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@inject IJSRuntime JS

@if (model == null)
{
    <PageTitle>Cari Göster - Kayıt Bulunamadı!</PageTitle>
    <h1>Kayıt Bulunamadı!</h1>
}
else
{

    <PageTitle>@model.Isim - Cari Göster</PageTitle>
    <h1 id="cariekle">@model.Isim</h1>
    <div class="container px-5 my-5">
        <div class="row">
            <DatePicker @bind-Data="hareket.Tarih" FormPanelExtraClass="col" Title="Tarih" />
            <DatePicker @bind-Data="hareket.VadeTarihi" FormPanelExtraClass="col" Title="VadeTarihi" />
        </div>
        <TextBox @bind-Data="hareket.Aciklama" Title="Aciklama" />
        <div class="row">
            <TextBox @bind-Data="hareket.Borc" FormPanelExtraClass="col" Title="Borc" />
            <TextBox @bind-Data="hareket.Alacak" FormPanelExtraClass="col" Title="Alacak" />
        </div>

        <div class="d-grid">
            @if (hareket.CariHareketId > 0)
            {
                <button class="btn alert-secondary btn-lg py-1" id="submitButton" @onclick="Yeni">Yeni</button>
            }
            <button class="btn btn-primary btn-lg" id="submitButton" @onclick="Kaydet">@(hareket.CariHareketId>0 ?"Kaydet":"Ekle")</button>
        </div>
        @if (!string.IsNullOrEmpty(hata))
        {
            <div class="alert alert-danger" role="alert">
                @hata
            </div>
        }
    </div>



    @if (model.Hareketler != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tarih</th>
                    <th>Aciklama</th>
                    <th>Borc</th>
                    <th>Alacak</th>
                    <th>VadeTarihi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in model.Hareketler)
                {
                    <tr>
                        <td>@item.CariHareketId</td>
                        <td>@item.Tarih</td>
                        <td>@item.Aciklama</td>
                        <td>@item.Borc</td>
                        <td>@item.Alacak</td>
                        <td>@item.VadeTarihi</td>
                        <td><button class="btn btn-primary" @onclick="()=> Duzenle(item.CariHareketId)">Düzenle</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container px-5 my-5">
            @{
                var toplamBorc = model.Hareketler.Sum(x => x.Borc);
                var toplamAlacak = model.Hareketler.Sum(x => x.Alacak);
            }
            <table class="table">
                <tr>
                    <th>Toplam Borç</th>
                    <td style="text-align: right">@($"₺{toplamBorc:n}")</td>
                </tr>
                <tr>
                    <th>Toplam Alacak</th>
                    <td style="text-align: right">@($"₺{toplamBorc:n}")</td>
                </tr>
                <tr>
                    <th>Bakiye</th>
                    <td style="text-align: right">@($"₺{(toplamAlacak - toplamBorc):n}")</td>
                </tr>
            </table>
        </div>

    }
}

@*https://www.meziantou.net/anchor-navigation-in-a-blazor-application.htm*@


@code {
    [Parameter]
    public int Id { get; set; }
    private CariKart? model;
    private CariHareket hareket = new CariHareket();
    private string? hata;

    private void Duzenle(int id)
    {
        hareket = model.Hareketler.First(x => x.CariHareketId == id);
        //https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0
        JS.InvokeVoidAsync("jump", "cariekle");
    }

    private void Yeni()
    {
        hareket = new CariHareket();

    }

    private void Kaydet()
    {
        hata = null;
        if (hareket == null || model == null)
        {
            hata = $"Ri tı siya-o h:{hareket == null} m:{model == null}";
        }
        else if (hareket.Borc <= 0 && hareket.Alacak <= 0)
        {
            hata = "Borç veya alacak belirtiniz.";
        }
        else if (hareket.Tarih == null)
        {
            hata = "Tarih belirtiniz";
        }
        else if (hareket.VadeTarihi != null && hareket.VadeTarihi < hareket.Tarih)
        {
            hata = "Vade tarihi işlem tarihinden eski olamaz!";
        }
        else
        {
            if (hareket.CariHareketId > 0)
            {
            }
            else
            {

                hareket.CariKartId = model.CariKartId;
                using (var db = new DB())
                {

                    db.CariHareket.Add(hareket);
                    db.SaveChanges();
                }
                RefreshList();

            }

            Yeni();

        }

    }

    private void RefreshList()
    {
        using (var db = new DB())
        {
            model = db.CariKart.AsNoTracking()
            .Include(x => x.Hareketler)
            .Where(x => x.CariKartId == Id)
            .FirstOrDefault();

            if (model != null && model.Hareketler != null)
            {
                model.Hareketler = model.Hareketler
                .OrderByDescending(x => x.Tarih)
                .ThenBy(x => x.VadeTarihi)
                .ThenByDescending(x => x.CariHareketId)
                .ToList();
            }
        }
        InvokeAsync(() => StateHasChanged());

    }


    protected override async Task OnInitializedAsync()
    {
        RefreshList();
    }
}
