@attribute [Authorize(Roles = "Admin")];
@inject IJSRuntime JS

@using FBC.Basit.Cari.Auth
@page "/sys"

<div class="row col-md-8 col-lg-6 col-xl-4">
    <button @onclick="DownloadFileFromStream">
        Backup and Download Database
    </button>
</div>

<h3>SystemInfo</h3>
<a href="javascript: void(0);" @onclick="updateSummary">Yenile</a>
@*@if (sessionSummary != null)
{
    <table class="table">
        <tbody>
            @foreach (var session in sessionSummary)
            {
                <tr>
                    <th colspan=2>Session: @session.Key</th>
                </tr>
                @foreach (var sp in session.Value)
                {
                    <tr>
                        <td>@sp.Key</td>
                        <td>@sp.Value</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}*@

@if (ssNode != null)
{
    Action<IReadOnlyCollection<FBCTreeNode<KeyValuePair<string, string>>>> prn = null;

    prn = (nodes) =>
    {
        <ul>
            @foreach (var item in nodes)
            {
                <li>
                    @item.Data.Key: @item.Data.Value
                    @if (item.Childs.Any())
                    {
                        prn(item.Childs);
                    }
                </li>
            }
        </ul>
    };
    prn(ssNode.Childs);
}


@code {
    //private Dictionary<string, Dictionary<string, string?>>? sessionSummary;
    private FBCTreeNode<KeyValuePair<string, string>> ssNode;
    private void updateSummary()
    {
        //sessionSummary = FBCSessionManager.GetSummary();
        ssNode = FBCSessionManager.GetSummaryAsNode();
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        updateSummary();
    }

    private async Task DownloadFileFromStream()
    {
        using (var db = new DB())
        {
            var filePath = db.SaveChangesAndBackup();
            var fileStream = new FileStream(filePath, FileMode.Open, FileAccess.Read, FileShare.Read);
            // GetFileStream();
            var fileName = Path.GetFileName(filePath);

            using var streamRef = new DotNetStreamReference(stream: fileStream);

            await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
    }
}
