@page "/Users"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@using FBC.Components;

@inject IJSRuntime JS
@inject NotificationService NTF
@inject DialogService DLG

<PageTitle>Users</PageTitle>
<h1 id="kullaniciekle">Users</h1>
<div class="container px-5 my-5">
    <div class="row">
        <TextBox @bind-Data="user.SysUserName" FormPanelExtraClass="col" Title="Kullanıcı Adı" />
        <TextBox @bind-Data="newPassword" FormPanelExtraClass="col" Title="@(user.SysUserId>0 ?"Yeni Parola (Boş:Aynı)":"Parola")" IsPassword="true" />
    </div>
    <div class="row">
        <TextBox @bind-Data="user.Name" FormPanelExtraClass="col" Title="İsim" />
        <TextBox @bind-Data="user.Surname" FormPanelExtraClass="col" Title="Soyisim" />
    </div>
    <CheckBox @bind-Data="user.IsAdmin" Title="Admin" />
    <CheckBox @bind-Data="user.IsCanEditData" Title="Cari işlemleri değiştirebilir" />
    <div class="input-group mb-3">
        <input readonly type="text" @bind="seciliCariIsim" class="form-control" placeholder="Cari hesap seç" aria-label="Cari hesap seç" aria-describedby="button-addon2">
        <button @onclick="CariSecGoster" class="btn btn-outline-secondary" type="button" id="button-addon2">Cari Seç</button>
    </div>



    <div class="d-grid">
        @if (user.SysUserId > 0)
        {
            <button class="btn alert-secondary btn-lg py-1" id="submitButton" @onclick="Yeni">Yeni</button>
        }
        <button class="btn btn-primary btn-lg" id="submitButton" @onclick="Kaydet">@(user.SysUserId > 0 ? "Kaydet" : "Ekle")</button>
    </div>
    @if (!string.IsNullOrEmpty(hata))
    {
        <div class="alert alert-danger" role="alert">
            @hata
        </div>
    }
</div>

@if (users != null)
{
    <div class="row">
        @foreach (var item in users)
        {
            <div class="col-4 g-5">
                <div class="card">
                    <h5 class="card-header"> @item.SysUserId - @item.Name @item.Surname (@item.SysUserName) </h5>
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" @bind="item.IsAdmin" type="checkbox" onclick="return false;" />
                            <label class="form-check-label">IsAdmin</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" @bind="item.IsCanEditData" type="checkbox" onclick="return false;" />
                            <label class="form-check-label">IsCanEditData</label>
                        </div>
                        <span class="form-control">Bağlı Cari: @item.CariKart?.Isim</span>
                        <div class="row">
                            <button class="col m-1 btn btn-primary" @onclick="()=> Duzenle(item.SysUserId)">Düzenle</button>
                            <a class="col m-1 btn btn-danger" @onclick="() => ShowSilDlg(item.SysUserId)" href="javascript:void();">Sil</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <ModalForm @ref="silDlg" Title="Silme işlemini onayla">
        <Body>
            @{
                var titleText = $"Silinecek Kaydın ID'sini <span class='btn btn-danger'>{silinecekId}</span> buraya tekrar yazın";
            }
            <TextBox @bind-Data="silinecekIdValidate" Title="@titleText" />
            @if (!string.IsNullOrEmpty(hata))
            {
                <div class="alert alert-danger" role="alert">
                    @hata
                </div>
            }
        </Body>
        <Footer>
            <button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="Sil">Sil</button>
        </Footer>
    </ModalForm>
}

@*https://www.meziantou.net/anchor-navigation-in-a-blazor-application.htm*@


@code {

    private string? hata;

    #region Kullanıcıları Listele

    private List<SysUser> users;
    private void RefreshList()
    {
        using (var db = new DB())
        {
            users = db.Users.AsNoTracking()
            .Include(x => x.CariKart)
            .ToList();

        }
        Yeni();
        InvokeAsync(() => StateHasChanged());

    }


    protected override async Task OnInitializedAsync()
    {
        RefreshList();
    }
    #endregion

    #region Kullanıcı Sil
    ModalForm silDlg;
    private int silinecekId = -1;
    private int silinecekIdValidate = 0;

    private void ShowSilDlg(int id)
    {
        hata = null;
        silinecekId = id;
        silDlg.Open();
    }

    private void Sil()
    {
        if (silinecekIdValidate == silinecekId)
        {
            using (var db = new DB())
            {
                var totalAdminCount = db.Users.Where(x => x.IsAdmin == true).Count();
                var exists = db.Users.FirstOrDefault(x => x.SysUserId == silinecekId);
                if (exists != null)
                {
                    if (exists.IsAdmin && totalAdminCount <= 1)
                    {
                        hata = "Bu kullanıcı silinirse geriye admin kalmıyor!";
                    }
                    else
                    {
                        db.Users.Remove(exists);
                        db.SaveChanges();
                        silinecekId = -1;
                        silinecekIdValidate = 0;
                        silDlg.Close();
                        RefreshList();
                    }
                }
            }

        }

    }

    #endregion

    #region Kullanıcı Ekle / Düzenle
    private SysUser user = new SysUser();
    private string newPassword = "";

    private void Duzenle(int id)
    {
        using (var db = new DB())
        {
            user = db.Users.AsNoTracking()
            .Include(x => x.CariKart)
            .Where(x => x.SysUserId == id).FirstOrDefault() ?? new SysUser();
            newPassword = "";
            seciliCariIsim = user.CariKart?.Isim;
        }
        //https://docs.microsoft.com/en-us/aspnet/core/blazor/javascript-interoperability/call-javascript-from-dotnet?view=aspnetcore-6.0
        JS.InvokeVoidAsync("jump", "kullaniciekle");
    }

    private void Yeni()
    {
        user = new SysUser();
        newPassword = "";
        seciliCariIsim = null;
    }

    private void Kaydet()
    {
        hata = null;
        if (user == null)
        {
            hata = "Ri tı siya-o";
        }
        else if (string.IsNullOrEmpty(user.SysUserName))
        {
            hata = "Kullanıcı Adı boş olamaz!";
        }
        else if (string.IsNullOrEmpty(user.Name))
        {
            hata = "İsim boş olamaz!";
        }
        else if (string.IsNullOrEmpty(user.Surname))
        {
            hata = "Soyad boş olamaz!";
        }
        else
        {
            //Edit
            if (user.SysUserId > 0)
            {


                using (var db = new DB())
                {
                    var anotherIdExists = db.Users.Where(x => x.SysUserId != user.SysUserId && x.SysUserName == user.SysUserName).Any();
                    if (anotherIdExists)
                    {
                        hata = "Bu kullanıcı adı zaten var!";

                    }
                    else
                    {
                        var totalAdminCount = db.Users.Where(x => x.IsAdmin == true).Count();
                        var exists = db.Users.FirstOrDefault(x => x.SysUserId == user.SysUserId);
                        if (exists != null)
                        {
                            if (exists.IsAdmin && user.IsAdmin == false && totalAdminCount <= 1)
                            {
                                hata = "Bu kullanıcı admin olmaktan çıkarılırsa geriye admin kalmıyor!";
                            }
                            else
                            {
                                exists.Fill(user);
                                if (!string.IsNullOrEmpty(newPassword))
                                {
                                    exists.SetNewPassword(newPassword);
                                }
                                db.SaveChanges();
                            }
                        }
                        else
                        {
                            hata = "Kayıt bulunamadı! Başka bir ekranda veya kullanıcı tarafından silinmiş olabilir...";
                        }
                    }
                }
            }
            else //Add
            {
                if (string.IsNullOrEmpty(newPassword))
                {
                    hata = "Parola boş olamaz!";
                }
                else
                {
                    using (var db = new DB())
                    {
                        var anotherIdExists = db.Users.Where(x => x.SysUserName == user.SysUserName).Any();
                        if (anotherIdExists)
                        {
                            hata = "Bu kullanıcı adı zaten var!";
                        }
                        else
                        {
                            user.SetNewPassword(newPassword);
                            db.Users.Add(user);
                            db.SaveChanges();
                        }
                    }
                }
            }
            RefreshList();
            Yeni();
        }

    }
    #endregion

    #region Cari Seç
    string? seciliCariIsim;

    private async Task CariSecGoster()
    {
        var r = await DLG.OpenAsync<SelectCariDLG>("Cari Seç");
        try
        {
            if (r is CariKart b && b != null)
            {
                seciliCariIsim = b.Isim;
                user.CariKartId = b.CariKartId;
            }
        }
        catch (Exception exc)
        {
            NTF.Notify(NotificationSeverity.Error, "Hata!", exc.Message);
        }

    }
    #endregion

}
